<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>n104ap</string>
			<key>CPID</key>
			<integer>32816</integer>
			<key>Platform</key>
			<string>t8030</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>20E252</string>
	<key>ProductVersion</key>
	<string>16.4.1</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>67141680</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>67141680</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iPhone12,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
		<key>078-23869-322.dmg</key>
		<string>APFS</string>
	</dict>
</dict>
</plist>
